
    BODY {background: #FFFFFF}
    A:link {color: #80FF00}
    A:visited {color: #FF00FF}
    #menu ul{margin:0; padding:0; list-style:none;}
    #menu li{display:inline; margin:0; padding:0;}
    #menu li a{display:block; 
   				 border:1px solid #666; 
   				 background-color:#ccc; 
   				 margin:1px; 
   				 color:#333; 
   				 width:100px; 
   				 padding:3px;
   				 text-align:center;
   				 font-size:14px;
   				 }
    #menu li a:hover{border:1px solid #fff;
    				background-color:#26c;
    				} 
